*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes BtnToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
@keyframes BtnToUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #777777;
  padding: 1.5rem 4rem;
  background: white;
  border-radius: 5rem;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  font-size: 2rem;
}
.btn:hover {
  -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0rem 0.4rem 0.4rem rgb(0, 0, 0);
          box-shadow: 0rem 0.4rem 0.4rem rgb(0, 0, 0);
}
.btn:hover::after {
  opacity: 0;
  -webkit-transform: scaleX(1.1) scaleY(1.2);
      -ms-transform: scaleX(1.1) scaleY(1.2);
          transform: scaleX(1.1) scaleY(1.2);
}
.btn:active {
  -webkit-transform: translateX(-0.2rem);
      -ms-transform: translateX(-0.2rem);
          transform: translateX(-0.2rem);
  -webkit-box-shadow: 0rem 0.4rem 0.4rem rgb(0, 0, 0);
          box-shadow: 0rem 0.4rem 0.4rem rgb(0, 0, 0);
}
.btn::after {
  content: "";
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_animated {
  -webkit-animation: BtnToUp 0.5s ease-out 0.7s;
          animation: BtnToUp 0.5s ease-out 0.7s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  color: #777;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  background: white;
  padding: 5rem;
}

.container {
  background: #f7f7f7;
}

.header {
  position: relative;
  height: 95vh;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.03%, rgba(186, 133, 84, 0.7)), color-stop(99.94%, rgba(1, 1, 1, 0.7))), url(../img/Header-background.jpg) center/cover no-repeat;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/Header-background.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: #ffffff;
}
.title-first__main {
  text-transform: uppercase;
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: 0.5rem;
  -webkit-animation-name: RightToLeft;
          animation-name: RightToLeft;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6.5rem;
}